/assignments/assignment1/cs231n/datasets/cifar-10-batches-py/
/assignments/assignment2/cs231n/datasets/cifar-10-batches-py/
/assignments/assignment3/cs231n/datasets/cifar-10-batches-py/
/assignments/assignment3/cs231n/datasets/MNIST_data/
/assignments/assignment3/cs231n/datasets/coco_captioning/
